* {
  box-sizing: border-box;
}

:root {
  --brand-bg-gradient: linear-gradient(
    to bottom,
    var(--grape-3),
    var(--violet-3),
    var(--indigo-3),
    var(--cyan-3)
  );
  --scrollbar-color: var(--gray-7);
}

h1,
h2,
h3,
h4 {
  max-inline-size: 100%;
  color: var(--gray-1);
}
p {
  max-inline-size: 100%;
  text-align: left;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: var(--gray-9);
  color: var(--gray-4);
}

.header {
  position: fixed;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.button-group {
  pointer-events: initial;
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 2rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: var(--gray-5);
  border-radius: 0 0 10px 10px;
  transition: transform 0.3s ease-in-out;
}

.button-group:hover {
  transform: translateY(0);
}

.button-group > * {
  z-index: 5;
  text-transform: capitalize;
  border-radius: 5px;
}

.button-group > *:hover {
  background-color: var(--gray-3);
}

/* @media (prefers-color-scheme: dark) {
  .App {
    background-color: var(--gray-9);
    color: var(--grey-2);
  }
  .button-group > *:hover {
    background-color: var(--gray-8);
  }
} */

.centered {
  text-transform: capitalize;
  /* align-self: center; */
}


.sudo-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 1rem; */
  column-gap: .5rem;
  row-gap: 1rem;
  /* border: solid; */
}

.sudo-text__box {
  width: 30vw;
  background: var(--gray-8);
  height: 1.25rem;
  border-radius: var(--radius-2);
  
  &:hover{
    background: var(--gray-7);

  }
}
.sudo-text__box--1 {
  width: calc(35% - (1rem)/3);
  min-width: 20%;
}
.sudo-text__box--2 {
  width:  calc(45% - (1rem)/3);
   min-width: 20%;
}
.sudo-text__box--3 {
  width:  calc(15% - (1rem)/3);
   min-width: 12%;
}

/* style the scrollbar. */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-7);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-8);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gradient-4);
  background: var(--cyan-3);
}
