.hero {
  padding-top: 3rem;
  width: fit-content;

  /* border: solid; */
  margin-inline: auto;

  & h2{
    padding-top: 1rem;
    font-size: 1.75rem;
    color:var(--cyan-1)
  }
}

.hero__header {
  font-size: 4rem;
  background: var(--gradient-4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__list {
  width: fit-content;
  margin: 0;
  margin-inline: auto;
  padding-top: 2rem;
  padding-inline: 0;
  list-style: none;

  & li {
    padding: 0.5rem;
    font-size: 1.25rem;
  }
}

.hero__button-group {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
