.divider {
  touch-action: manipulation;
  position: relative;
  background-color: var(--resizable-grid-track-color);
  width: 2px;
  height: 100%;
  opacity: var(--resizable-grid-track-opacity);
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: var(--resizable-grid-track-opacity-hover);
    cursor: ew-resize;
    background-color: transparent;
  }

  &:hover::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 100%;
    background-color: transparent;
    opacity: var(--resizable-grid-track-opacity-hover);
    left: -27px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--resizable-grid-track-color);
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    background-color: var(--resizable-grid-track-color-hover);
    animation-name: grow-h;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }

  @media (hover: none) {
    & {
      width: 10px;
    }

    &:hover::after {
      width: 150px;
      background-color: green;
      opacity: 0.2;
      left: -75px;
    }
  }
}

@keyframes grow-h {
  from {
    transform: scaleX(1);
  }
  
  to {
    transform: scaleX(var(--resizable-grid-final-scale));
  }
}