:root {
}

.resizable-grid {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
}

.resizable-grid__content {
  overflow-y: auto;
  padding: 1rem;
}

/*  Divider  */

.resizable-grid__divider--horizontal {
  width: 2px;
  height: 100%;
  &::before {
    left: 0;
  }
  &:hover {
    &::before {
      animation-name: grow-horizontal;
    }
    &::after {
      width: 50px;
      height: 100%;
      /* move it half it's width to the left. */
      left: -27px;
    }
  }
}

.resizable-grid__divider--vertical {
  width: 100%;
  height: 2px;

  &::before {
    width: 100%;
    height: 2px;
    top: 0;
  }
  &:hover {
    &::before {
      animation-name: grow-vertical;
    }

    &::after {
      width: 100%;
      height: 50px;
      /* move half it's height up */
      top: -27px;
    }
  }
}

.resizable-grid__divider {
  position: relative;
  background-color: var(--green-3);
  opacity: 0.1;
  transition: all 0.2s ease-in-out;

  &::before {
    position: absolute;
    content: '';
    background-color: var(--green-3);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    cursor: ns-resize;
    background-color: var(--gray-6);
    opacity: 0.3;

    &::before {
      animation-duration: 0.1s;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: transparent;
    }
  }
}

@keyframes grow-horizontal {
  to {
    width: -2px;
    left: 4px;
  }
}

@keyframes grow-vertical {
  to {
    height: 4px;
    top: -2px;
  }
}
