.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
}

.content {
  overflow-y: auto;
  padding: 1rem;
}

.divider {
  position: relative;
  background-color: var(--green-3);
  width: 100%;
  height: 2px;
  opacity: 0.1;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: ns-resize;
    background-color: var(--gray-6);
    opacity: .3;
  }
}

/*  keeps the mouse hover in focus
   and provides a larger hit box
*/
.divider:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 50px;
  background-color: transparent;
  top: -27px;
}

.divider::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--green-3);
  top: 0;
  transition: all 0.3s ease-in-out;

  &:hover {
      animation-name: grow;
      animation-duration: 0.3s;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-delay: .5s;
      
  }
}

@keyframes grow {
  to {
    height: 4px;
    top: -2px;
  }
}
